<div style="display:block; text-align:left;">
	<%= image_tag tweet.profile_image_url %>
	<%= tweet.from_user%>:
	<%= auto_link(tweet.text) %>
	<span><%= link_to time_ago_in_words(tweet.created_at.to_time), tweet.url %></span>
</div>
<hr />