body {
  background-color: #f3f3f3;
  margin: 0;
  font: normal 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  text-shadow: 1px 1px 1px #fff;
}

a {
  color: #09C;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header, #container {
  width: 900px;
  margin: 0 auto;
}

header {
  height: 60px;
  line-height: 60px;

  h1 {
    font: 32px Marmelad;
    letter-spacing: -3px;
    margin: 10px 0 5px 0;
    display: inline-block;

    a {
        color: #404040;

        &:hover {
          text-decoration: none;
        }
    }
  }

  #site-brand {
    display: inline-block;
    margin: 10px 0 0 5px;
    line-height: 40px;

    span {
      font-style: italic;
    }
  }

  ul {
    float: right;

    li {
      float: left;
    }
  }
}

footer {
	border-top: 1px solid #999;
	width: 100%;
	background-color: #FFF;
	position: fixed;
	bottom: 0px;
	padding: 5px 10px 2px;

	.links {
		float: right;
		margin-right: 20px;

		li {
			float: left;
			margin-left: 10px;
		}

		a {
			color: #404040;
			text-decoration: none;
			margin-left: 3px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#main {
  clear: both;
  padding: 15px 0;
}

.mimimi-box {
  width: 221px;
  height: 200px;

  float: left;
  margin-left: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #fafafa, #f0f0f0);
  background-image: -ms-linear-gradient(top, #fafafa, #f0f0f0);
  background-image: linear-gradient(top, #fafafa, #f0f0f0);
  -moz-box-shadow: 0 0 5px #EAEAEA;
  -webkit-box-shadow: 0 0 5px #EAEAEA;
  box-shadow: 0 0 5px #EAEAEA;
  margin-bottom: 15px;

  &.first {
    margin-left: 0;
  }

  &.featured {
    margin-left: 0;
    height: 200px;
    width: auto;
    float: none;
  }
}

#by-subjects { clear: both; }

.mimimi-box > .title {
  margin: 0;
  border-bottom: 1px solid #eee;
  padding: 5px;
  color: #777;
}

.mimimi-box .scroller {
  height:169px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mimimi-box .tweet {
  border-bottom: 1px dashed #ddd;
  display: block;
  min-height: 60px;
  padding: 5px;
/*  position: relative;*/
  text-align: left;

  .status span {
    font-weight: bold;
    &:after { content: ": " ;}
  }

  img {
    float: left;
    margin: 3px 3px 0 0;
    height: 54px;
    width: 54px;
  }
}

h3.by-subject {
  font: italic 15px/20px Marmelad;
  margin: 0 0 10px 10px;
}
