<div id="main">
	<div id="featured" class="mimimi-box featured">
		<h3 class="title">#mimimis da última hora</h3>
    <div class="scroller" id="mimimis-featured">
    </div>
	</div><!-- .mimimi-box -->

	<div id="by-subjects">
		<h3 class="by-subject">#mimimis por assunto...</h3>

		<div class="mimimi-box first">
			<h3 class="title">#vdm</h3>
			<div class="scroller" id="vdms-featured">
			</div>
		</div><!-- .mimimi-box -->

		<div class="mimimi-box">
			<h3 class="title">#fail</h3>
			<div class="scroller" id="fails-featured">
			</div>
		</div><!-- .mimimi-box -->

		<div class="mimimi-box">
			<h3 class="title">#porra</h3>
			<div class="scroller" id="porras-featured">
			</div>
		</div><!-- .mimimi-box -->

		<div class="mimimi-box">
			<h3 class="title">#aff</h3>
			<div class="scroller" id="affs-featured">
			</div>
		</div><!-- .mimimi-box -->
	</div>
</div>